---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import { getAuthenticatedUser } from '../lib/firebase/auth';

/* Check if the user is authenticated */
const authenticatedUser = await getAuthenticatedUser(Astro.cookies);

if (authenticatedUser) {
  return Astro.redirect('/dashboard');
}
---

<Layout title="Sign in">
  <h2 class="text-2xl font-bold">Sign in</h2>

  <p class="text-sm text-foreground-light mb-2">
    New here? <a href="/register">Create an account :)</a>
  </p>

  <form
    action="/api/auth/signin"
    method="POST"
    class="flex flex-col gap-2 mb-8"
  >
    <div>
      <label class="text-sm" for="email">Email</label>
      <input
        class="p-2 border border-foreground w-full focus:outline-none focus:border-dotted"
        type="email"
        name="email"
        id="email"
      />
    </div>

    <div>
      <label class="text-sm" for="password">Password</label>
      <input
        class="p-2 border border-foreground w-full focus:outline-none focus:border-dotted"
        type="password"
        name="password"
        id="password"
      />
    </div>

    <Button type="submit">Login</Button>
  </form>

  <Button variant="outline" id="google">Sign in with Google</Button>
</Layout>

<script>
  import {
    GoogleAuthProvider,
    getAuth,
    inMemoryPersistence,
    signInWithEmailAndPassword,
    signInWithPopup,
  } from 'firebase/auth';
  import { app } from '../lib/firebase/client';

  const auth = getAuth(app);

  auth.setPersistence(inMemoryPersistence);

  const form = document.querySelector<HTMLFormElement>('form');

  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const email = formData.get('email')?.toString();
    const password = formData.get('password')?.toString();

    if (!email || !password) {
      return;
    }

    const userCredential = await signInWithEmailAndPassword(
      auth,
      email,
      password
    );

    const idToken = await userCredential.user.getIdToken();

    const response = await fetch('/api/auth/signin', {
      method: 'GET',
      headers: {
        Authorization: `Bearer ${idToken}`,
      },
    });

    if (response.redirected) {
      window.location.assign(response.url);
    }
  });

  const googleSignIn = document.querySelector<HTMLButtonElement>('#google');

  googleSignIn?.addEventListener('click', async () => {
    const provider = new GoogleAuthProvider();
    const userCredential = await signInWithPopup(auth, provider);
    const idToken = await userCredential.user.getIdToken();
    const res = await fetch('/api/auth/signin', {
      headers: {
        Authorization: `Bearer ${idToken}`,
      },
    });

    if (res.redirected) {
      window.location.assign(res.url);
    }
  });
</script>
