---
import Layout from '../../../layouts/Layout.astro';
import { app } from '../../../lib/firebase/server';
import { getFirestore } from 'firebase-admin/firestore';
import type { Post } from '../../../lib/posts/types';
import { FIREBASE_COLLECTIONS } from '../../../constants';
import { getAuthenticatedUser } from '../../../lib/firebase/auth';
import { Editor } from '../../../islands/Editor';
import Button from '../../../components/Button.astro';
import OneBitIcon from '../../../components/OneBitIcon.astro';
import pencilIcon from '../../../assets/icons/pencil.png';

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/404');
}

const authenticatedUser = await getAuthenticatedUser(Astro.cookies);

if (!authenticatedUser) {
  return Astro.redirect('/login');
}

const db = getFirestore(app);
const postsRef = db.collection(FIREBASE_COLLECTIONS.POSTS);
const postSnapshot = await postsRef.doc(id).get();

if (!postSnapshot.exists) {
  return Astro.redirect('/404');
}

const post = postSnapshot.data() as Post;
---

<Layout title={`Edit a post`}>
  <p>Here you can edit or delete your post's data.</p>

  <form
    class="flex flex-col gap-2 py-4"
    method="POST"
    action={`/api/posts/${id}`}
  >
    <Editor name="content" defaultContent={post.content} client:load />
    <Button type="submit">
      <OneBitIcon src={pencilIcon.src} class="w-5 h-5 mr-2 filter-none" />
      <span>save content</span>
    </Button>
  </form>

  <Button variant="outline" type="button" id="delete-document">Delete</Button>
</Layout>

<script>
  const deleteButton = document.getElementById(
    'delete-document'
  ) as HTMLButtonElement;

  const url = document.querySelector('form')?.getAttribute('action') as string;

  deleteButton.addEventListener('click', async () => {
    const response = await fetch(url, {
      method: 'DELETE',
    });

    if (response.redirected) {
      window.location.assign(response.url);
    }
  });
</script>
